<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.discovernusantara">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.DiscoverNusantara"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWEapSHj1-a-7JSN_Q6xk0OVMq1BNifZ8" />

        <activity
            android:name=".ui.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.DiscoverNusantara" />
        <activity
            android:name=".ui.CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.DiscoverNusantara"/>
        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DiscoverNusantara"/>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>